{% extends 'base.html' %}

{% block content %}
<table class="table" style="max-width: 100%">
    <thead>
        <tr>
            <th scope="col">
                ID
            </th>
            <th scope="col">
                Name
            </th>
            <th scope="col">Cash
            </th>
            <th scope="col">
                Wins
            </th>
            <th scope="col">
                Losses
            </th>
            <th scope="col">
                Customons
            </th>
        </tr>
    </thead>
    <tbody>
    {% for profile in page_obj %}
        <tr>
            <th scope="row">
                <a class="text-decoration-none"
                href="{% url 'profile' profile.user_id %}">
                    {{ profile.user_id }}
                </a>
            </th>
            <td>
                {{ profile.name }}
            </td>
            <td>
                ${{ profile.cash }}
            </td>
            <td>
                {{ profile.get_wins_count }}
            </td>
            <td>
                {{ profile.get_losses_count }}
            </td>
            <td>
                {{ profile.customon_set.count }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="lead mb-2">
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
</div>
<nav>
    <ul class="pagination">
    {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
    {% endif %}
    {% for page in paginator.page_range %}
        <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
    {% endfor %}
    {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
    {% endif %}
</ul>
</nav>
{% endblock %}