{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">Customons Wall</h1>
    {% for customon in object_list %}
        <div class="container">
            <div class="card mx-auto" style="width: 36rem;">
              <img class="card-img-top" src="{{ customon.photo.url }}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ customon.name}}</h5>
                <p class="card-text">A {{ customon.type | lower }} customon caught by user {{ customon.owner | title}}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="{% url 'like' customon.pk%}">Likes</a> {{ customon.likes }}</li>
                {% for comment in customon.comment_set.all %}
                    <li class="list-group-item">{{ comment.text }}</li>
                {% endfor %}
              </ul>
              <div class="card-body">
                <a href="{% url 'comment' customon.pk%}" class="card-link">Add Comment</a>
              </div>
            </div>
        </div>


{#        <div class="container">#}
{#                <div class="row">#}
{#                    <img src="{{ customon.photo.url }}"#}
{#                         style={height: 200px; width=200px}#}
{#                         alt="No Image"/>#}
{#                    Name: {{ customon.name }}#}
{#                    Owner: {{ customon.owner }}#}
{#                    Type: {{ customon.type }}#}
{#                    Likes: {{ customon.likes }}#}
{#                </div>#}
{#        </div>#}
    {% endfor %}
{% endblock %}