{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center display-5">Customons Wall</h1>
    {% for customon in object_list %}
        <div class="container">
            <div class="card mx-auto" style="max-width: 36rem;">
                <img class="card-img-top" src="{{ customon.photo.url }}" alt="No Image">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ customon.name}}
                    </h5>
                    <p class="card-text">
                        A {{ customon.type | lower }} customon caught by user {{ customon.owner | title}}
                    </p>
                </div>

                <ul class="list-group list-group-flush">
                {% for comment in customon.comment_set.all %}
                    <li class="list-group-item">
                        <a href="{% url 'profile' comment.owner.user_id %}">
                            {{ comment.owner | title }}
                        </a>: {{ comment.text }}
                    </li>
                {% endfor %}
                </ul>
                <div class="card-body">
                    <a href="{% url 'comment' customon.pk%}" class="card-link">
                        Add Comment
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
