{% extends 'base.html' %}
{% block content %}
<!-- Del Form -->
<!-- Delete Form -->
<div class="card mx-auto p-5 mt-5" style="max-width: 36rem">
    <h1 class="card-title display-5">
        Delete
    </h1>
    <h1 class=" lead mt-5">
        Are you sure you want to delete {{ object.name | title}}?
    </h1>
    <form method="POST" class="mt-5">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-danger mt-3">
            Delete
        </button>
    </form>
</div>
<!-- End Delete Form -->
{% endblock %}