{% extends 'base.html' %}
{% block content %}

<h1 class="display-5 text-center">
Who Would Win?
</h1>


    <div class="row">
    <div class="col text-start">
      <img src="{{ pokemon_1.image }}"
         class="card-img-top" alt="Photo description">
        <a class="btn btn-primary mt-3 mb-3" style="width: 100%" href="{% url 'make selection' 1%}">Select</a>
        <ul class="list-group text-start" >
          <li class="list-group-item">Name: {{ pokemon_1.name | title}}</li>
          <li class="list-group-item">Types: {{ pokemon_1.types | title}}</li>
          <li class="list-group-item">HP: {{ pokemon_1.hp }}</li>
          <li class="list-group-item">Attack: {{ pokemon_1.attack }}</li>
          <li class="list-group-item">Defense: {{ pokemon_1.defense }}</li>
          <li class="list-group-item">Speed: {{ pokemon_1.speed }}</li>
      </ul>
    </div>
    <div class="col-2">

    </div>
    <div class="col text-end">
        <img src="{{ pokemon_2.image }}"
             class="card-img-top" alt="Photo description">
      <a class="btn btn-primary mt-3 mb-3" style="width: 100%" href="{% url 'make selection' 2%}">Select</a>
        <ul class="list-group text-end">
          <li class="list-group-item">Name: {{ pokemon_2.name | title}}</li>
          <li class="list-group-item">Types: {{ pokemon_2.types | title}}</li>
          <li class="list-group-item">HP: {{ pokemon_2.hp }}</li>
          <li class="list-group-item">Attack: {{ pokemon_2.attack }}</li>
          <li class="list-group-item">Defense: {{ pokemon_2.defense }}</li>
          <li class="list-group-item">Speed: {{ pokemon_2.speed }}</li>
      </ul>
    </div>
  </div>

{% endblock %}