{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-1">Forbidden 403</h1>
            <div class="card bg-white text-white">
                <img class="card-img" style="min-height: 400px; object-fit: cover; object-position: right bottom" src="{% static 'images/forbidden.jpg'%}" alt="Card image">
            </div>
            <hr class="my-4">
                <p class="lead">Go home</p>
                <a class="btn btn-primary btn-lg" href="{% url 'index' %}" role="button">Learn more</a>
        </div>
    </div>
{% endblock %}